*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.games{
    margin: 100px;
    display: flex;
    justify-content: space-evenly;
}
.image{
    height: 300px;
    width: auto;    border: 10px rgb(0, 255, 255) solid;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
}
#music{
    height: 80px;
    width: 80px;
    position: absolute;
    left: 10px;
    top: 10px;
    border: 7px #ff0089 solid;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading{
    color: white;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 100;
    margin: auto;
    font-size: 50px;
    width: min-content;
}
