*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ground{
    background-color: black;
    height: 616px;
    width: 616px;
    border: 8px rgb(217, 255, 0) solid;
    display: flex;
    flex-wrap: wrap;
}